@import '~bootstrap/scss/bootstrap';

html, body {
  height: 100%;
  margin: 0;
}

.site-header {
  transition: height .3s ease;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  box-shadow: 0 0 40px 0 rgba(82, 63, 105, .1);
  background-color: #fff;
}

.sc-logo {
  width: 40px;
}

.sc-disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.cursor-pointer {
  cursor: pointer;
  user-select: none;
}

.invalid-message {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}
